.pagination {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid #cacaca;
    padding: 20px;
    background-color: rgba(233, 233, 233, 0.801);
}

@media screen and (max-width: 600px) {
    .pagination{
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        width: 100%;
        padding: 0;
    }
}