.filter {
    display: flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    border: 1px solid #cacaca;
    padding: 20px;
    background-color: rgba(233, 233, 233, 0.801);
    .filter-option {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        label {
            font-size: 12px;
            margin: 10px 0;
        }
        input{
            padding: 5px;
            font-family: 'IranSans', sans-serif;
            font-size: 12px;
        }
        input:focus{
            outline: none;
        }
    }
}