.table {
    width: 100%;
    border: 1px solid #cacaca;
    padding: 20px;
    background-color: rgba(233, 233, 233, 0.801);

    .table-wrapper {
        display: flex;
        flex-wrap: wrap;
        padding: 0;

        .cell-wrapper {
            display: flex;
            flex-wrap: wrap;
            padding: 0;
            width: 100%;
        }

        .table-cell {
            width: 16.6%;
            box-sizing: border-box;
            flex-grow: 1;
            padding: 0.8em 1.2em;
            overflow: hidden;
            list-style: none;
            border: solid 1px white;
            background: fade(slategrey, 20%);
            cursor: pointer;
        }

        .table-header {
            font-size: 14px;
            font-weight: bold;
            background-color: bisque;
            cursor: pointer;
        }
    }

    .table-wrapper-responsive {
        display: flex;
        flex-wrap: wrap;
        padding: 10px 0;
        height: 400px;
        border-bottom: 1px solid #cacaca;
        width: 100%;
        cursor: pointer;
        .header-wrapper {
            width: 40%;

            .table-header {
                height: 16.6%;
            }
        }

        .cell-wrapper {
            width: 59%;

            .table-cell {
                height: 16.6%;
                overflow: auto;
            }
        }
    }

    .selcted-row {
        background-color: chartreuse;
    }
}