@font-face {
    font-family: 'IranSans';
    src: url(assets/IranianSans.ttf);
}
.app-wrapper {
    font-family: 'IranSans', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px;
    .background{
        background-color: #ffe26a;
        position: fixed;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        z-index: -1;
    }
}
